<!-- Start:us -->

<div id="fh5co-work-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Nosotros</h3>
        <p>FMAC es la firma de abogados que integra profesionales de diversas áreas para proveer soluciones integrales creadas a la medida de cada uno de nuestros clientes.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="fh5co-grid animate-box" style="background-image: url(./assets/images/carso.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3 class="sub-title"><b>Misión</b></h3>
              <span>Proveer nuestros servicios en materia de derecho de forma honesta, eficaz y oportuna.</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="fh5co-grid animate-box" style="background-image: url(./assets/images/colfinancialpost.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3 class="sub-title"><b>Visión</b></h3>
              <span>Somos la firma que en conjunto tiene mayor experiencia.</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="fh5co-grid animate-box" style="background-image: url(./assets/images/mexicocity-650x320.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3 class="valores sub-title"><b>Valores</b></h3>
              <ul>
                <li class="valores"><span class="values" id="honesty">Honestidad: Somos un</span></li>
                <li class="valores"><span class="values" id="experiences">Experiencia: Tenemos un equipo altamente calificado con más de 15 años ejerciendo.</span></li>
              </ul>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="fh5co-grid animate-box" style="background-image: url(assets/images/our-lawyers-hdr.jpg);">
          <a class="image-popup text-center" href="#">
            <div class="prod-title">
              <h3>Nuestros Abogados y Consultores</h3>
              <span>Conoce a nuestros expertos que estarán paso a paso a tu lado.</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
